/* IMPORTS */
@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/raster/raster2.css");

/* GLOBAL DEFINITIONS */
:root {
  color-scheme: dark;
  --yellow: #fedb00;
  --violet: #440099;
  --violet-lighter: color-mix(in hsl, white 25%, var(--violet) 75%);
  color: white;
  background-color: black;
  font-size: 15px;
  font-family: "Inter", "Akzidenz-Grotesk", "Helvetica Neue", "Helvetica",
    "IBM Plex Sans", Arial, sans-serif, "Noto Sans";
  font-display: swap;
  text-wrap: pretty;
  margin: 0;
  padding: 0;
  /*cursor: url('~/cursor.png'), auto;*/
}

/* BRANDING */
.yellow,
.yellow *:not(a) {
  color: var(--yellow);
}

.violet,
.violet *:not(a) {
  color: var(--violet);
}

/* TYPOGRAPHY */
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", "Akzidenz-Grotesk", "Helvetica Neue", "Helvetica",
      "IBM Plex Sans", Arial, sans-serif, "Noto Sans";
  }
}

* {
  line-height: 1em;
}

h1 a:hover {
  text-decoration: none;
}

p {
  line-height: 1.15em;
}

a {
  color: var(--violet-lighter);
  text-decoration: none;
  white-space: normal;

  &:hover {
    color: var(--yellow) !important;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--violet);
    text-decoration-skip-ink: auto;
  }

  &:visited {
    color: var(--violet-lighter);
  }

  &.yellow:visited {
    color: var(--yellow);
  }
}

li.fav::marker {
  content: "❧ ";
}

details,
summary {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 8px;
}

summary {
  cursor: pointer;
  color: var(--violet-lighter);

  &::marker {
    display: none;
  }
}

blockquote {
  font-style: italic;
  font-size: 0.9rem;
}

/* FORMS */
button {
  background-color: var(--yellow);
  color: black;
  border: 0;
  border-radius: 10px;
  padding: 4px 8px;
}

input {
  border: 0;
  border-radius: 10px;
  padding: 6px 10px;
}

input,
button {
  &:hover {
    box-shadow: 0 0 0 2px #440099;
  }

  &:focus {
    outline: var(--yellow);
    outline-color: var(--yellow);
    box-shadow: 0 0 0 2px #fedb00;
  }
}

#emailForm {
  display: flex;
  gap: 12px;
  border-radius: 8px;
  font-weight: 500;
}

/* SPECIAL */
emoji {
  font-style: normal;
}

hr {
  background-color: white;
  -webkit-background-clip: block;
}

@media only screen and (max-width: 800px) {
  #emailForm {
    flex-direction: column;
  }
}
